<div *ngIf="isLoading; else content" class="center-div">
  <mat-spinner></mat-spinner>
</div>

<ng-template #content>
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    
    <mat-toolbar color="primary">
      <mat-icon>description</mat-icon>E-Portifolio
      <div class="spacer"></div>
      <a mat-button  routerLink="/home"class="custom-button" style="color: white;">Home</a>
      <a mat-button routerLink="/profiles"class="custom-button"style="color: white;">Profile</a>
 
      <a mat-raised-button  routerLink="/formprofile" style="   color:white; 
      background-color: rgb(23, 158, 64); "class="custom-mat-raised-button">Créer un portfolio</a>
  
    </mat-toolbar>
    <button mat-mini-fab class="reset-button" style=" margin: 10px;" (click)="refreshPage()">
      <mat-icon>autorenew</mat-icon>
    </button>
    <div class="card-container">
      <ng-container *ngFor="let profile of dataList">
        <mat-card class="profile-card" *ngIf="!profile.hidden">
          <mat-card-header>
            <mat-card-title>{{ profile.name }} | {{profile.title}}</mat-card-title>
            <!-- Add other profile information as needed -->
          </mat-card-header>
          <img mat-card-image [src]="profile.imageUrl" alt="Profile Image">
          <mat-card-content>
            <p>{{ profile.email }}</p>
          </mat-card-content>
          <mat-card-actions class="portfolio-button">
            <button mat-mini-fab style="background-color: rgb(3, 155, 89); color: white;" (click)="showportfolio(profile.id)">
              <mat-icon>arrow_forward</mat-icon>
            </button>
            <button mat-mini-fab style="color: white; background-color: black;"  (click)="toggleCardVisibility(profile)"><mat-icon>visibility_off</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
    
    
    <ng-template #loadingContent>
      <div class="center-div">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
    
  </body>
  </html>
  
</ng-template>


